<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Memory Game</title>
    <link rel="icon" href="../static/images/topimg1.png">
    <link rel="stylesheet" href="../static/registerstyle.css">
    <script src="../static/script.js" type="module" defer></script>
</head>
<body>
    <p class="checklevel">easy</p>
    <div class="last-screen">
        <div>
            <img src="../static/images/victory.gif" alt="win-gif">
            <h4>You have won the game!</h4>
            <button class="ls-btn">Next Level</button>
        </div>
    </div>
    <div class="content glow" style="width: 800px; height: 500px;">
        <h3>SCORE : <P>8/8</P>
        </h3>
        <div class="top-bar">
            <img class="logo-pic" src="../static/images/logo-pic.png">
            <img class="logo-text" src="../static/images/logo-name.png">
            <button onclick="window.location.href = 'levels.html'">Home</button>
        </div>
        <div class="total-cards">

        </div>
    </div>

</body>
</html>